body{
background-image:url("re1.jpg");
background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
}
.head{
width:100%;
height:75px;
background-color:transparent;
}
.h1{
text-align:center;
font-family:Brush Script MT;
font-size:100px;
color:white;
opacity:0.8;
margin-top:15px;
margin-bottom:15px;
}
.vrde{
width:100%;
height:580px;
background-color:transparent;
}
.menu{
width:100%;
height:200px;
background-color:transparent;
float:left;
}
ul{
background-color:transparent;
overflow:hidden;
list-style-type:none;

}
li a{
opacity:0.8;
color:white;
float:left;
display:inline-block;
padding:30px;
font-size:28px;
text-decoration:none;
margin-left:40px;
}
li a:hover{
background-color:#84b65866;
}
.dining{
width:100%;
height:430px;
background-color:#84b65866;
opacity:0.9;
}
.h2{
text-align:center;
font-family:Brush Script MT;
font-size:60px;
color:#cce9f7;
margin-bottom:2px;
opacity:0.9;
}
.circlearea{
width:100%;
height:300px;

}
.cir1{
border:5px solid #cce8f6;

margin-left:150px;
width:250px;
height:250px;
border-radius:250px;

float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.cir2{
border:5px solid #cce8f6;

margin-left:70px;
width:250px;
height:250px;
border-radius:250px;
float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.cir3{

margin-left:70px;
width:250px;
height:250px;
border-radius:250px;
border:5px solid #cce8f6;

float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.cir4{
border:5px solid #cce8f6;

margin-left:70px;
width:250px;
height:250px;
border-radius:250px;
float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.box{
width:100%;
height:400px;
background-color:#84b65866;
opacity:0.9;
}
.box1{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:161px;
}
.box2{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:97px;
}
.box3{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:92px;
}
.box4{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:96px;
}
.img1{
width:250px;
height:250px;
border-radius:250px;

}

.spa{
width:100%;
height:430px;
background-color:#30070259;
opacity:0.9;
}
.circlearea1{
width:100%;
height:300px;

}
.cir11{
border:5px solid #cce8f6;

margin-left:150px;
width:250px;
height:250px;
border-radius:250px;

float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.cir21{
border:5px solid #cce8f6;

margin-left:70px;
width:250px;
height:250px;
border-radius:250px;
float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.cir31{

margin-left:70px;
width:250px;
height:250px;
border-radius:250px;
border:5px solid #cce8f6;

float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.cir41{
border:5px solid #cce8f6;

margin-left:70px;
width:250px;
height:250px;
border-radius:250px;
float:left;
display:inline-block;
margin-top:50px;
margin-bottom:10px;
}
.box0{
width:100%;
height:500px;
background-color:#30070259;
opacity:0.9;
}
.box11{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:161px;
}
.box21{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:97px;
}
.box31{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:92px;
}
.box41{
width:150px;
height:300px;

float:left;
display:inline-block;
padding:40px;
margin-left:96px;
}
.img2{
width:250px;
height:250px;
border-radius:250px;
}
#p1{
text-align:center;
font-family:papyrus;
font-size:27px;
color:white;
}
.form{
width:100%;
height:600px;
background-color:#30070259;
opacity:0.9;
text-align:center;
margin-top:50px
}
.p4{
font-family:Brush Script MT;
font-size:47px;
color:#b1d7eb;

}
#form{
color:white;
font-size:30px;
font-family:papyrus;
width:100%;
text-align:left;
margin-left:500px;
}
input[type=text]{
width:500px;
height:30px;
}
textarea{
width:498px;
height:119px;
margin-left:32px;
}
input[type=submit]{
margin-left:345px;
width:157px;
height:30px;
background-color:lightblue;
font-family:papyrus;
font-size:20px;
}